body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 20px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px; 
}

h1 {
    color: #ffffff;
    margin-bottom: 100px;
    font-size: 36px;
    text-align: center;
    width: 100%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}

.gallery-item {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.gallery-item img {
    width: 100%;
    height: auto;
    aspect-ratio: 3/4;
    object-fit: cover;
    display: block;
    transition: filter 0.3s ease;
    filter: grayscale(100%);
}

.gallery-item:hover img {
    filter: grayscale(0%);
}

.gallery-item h3 {
    color: #ff0000;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    text-align: left;
    width: 100%;
}

.gallery-item p {
    color: #ffffff;
    margin-top: 0;
    font-size: 14px;
    text-align: left;
    width: 100%;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery-item h3 {
        font-size: 16px;
    }

    .gallery-item p {
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .gallery {
        grid-template-columns: repeat(1, 1fr);
    }
}

.shadowed-image {
    box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
}

.shadowed-image:hover {
    box-shadow: 0 0 15px 8px rgba(255, 0, 0, 0.7);
}
.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 15px 20px;
    display: flex;
    justify-content: flex-start; /* Cambiado para alinear los elementos a la izquierda */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

.nav-bar a {
    margin-left: 20px; /* Espacio entre los enlaces */
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-bar a:first-child {
    margin-left: 0; /* Elimina el margen izquierdo del primer enlace */
}

.nav-bar a:hover {
    color: #007bff; /* Cambia el color al pasar el mouse */
}
